@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
body {
  width: 100%;
  background-color: #eee;
}
body header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 5%;
  z-index: 3;
}
body header h1 a {
  font-size: 0;
}
body header h1 a::before {
  content: url(../LOGO/logo-black.png);
}
body header nav a {
  color: black;
  margin: 1vh;
  font-size: 2vh;
  font-weight: 300;
}
body header nav a.active {
  font-weight: 500;
}
body header nav a:last-of-type {
  margin-right: 0;
}
body main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body main .container {
  transition: 1s;
}
body main .main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-left: 10%;
}
body main .main .m-txt {
  margin-top: 15%;
}
body main .main .m-txt h2 {
  font-size: 6vh;
  font-weight: 900;
  animation: main-h2 3s linear 1 alternate none;
  margin: 0;
}
body main .main .m-txt h2:nth-of-type(2) {
  animation: main-h2_2 2s linear 1 alternate none;
}
body main .main .m-txt b {
  font-size: 6vh;
  font-weight: 900;
}
body main .main .m-txt b:first-of-type {
  color: #E92D66;
}
body main .main .m-txt .m-contact {
  margin-top: 30vh;
}
body main .main .m-txt .m-contact p {
  font-weight: 400;
  animation: contact 2.5s linear 1 alternate none;
}
body main .main span {
  display: block;
  width: 100vh;
  height: 100vh;
  background-color: #E92D66;
  border-radius: 100%;
  margin-left: 60%;
  margin-top: -20%;
  animation: contact 2.5s linear 1 alternate none;
  position: relative;
}
body main .main span img {
  width: 35%;
  position: absolute;
  top: 38%;
  right: 20%;
  transform: translate(-50%, -50%);
}
@keyframes main-h2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes main-h2_2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes contact {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body main .about {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main .about .a-txt {
  width: 65vh;
  margin: 4% 0 0 10%;
}
body main .about .a-txt h2 {
  font-size: 6vh;
  font-weight: 400;
}
body main .about .a-txt h2 b {
  font-size: 6vh;
  font-weight: 700;
}
body main .about .a-txt h2.active {
  animation: about-h2 5s linear 1 alternate none;
}
@keyframes about-h2 {
  0% {
    opacity: 0;
    margin-top: 2%;
  }
  100% {
    opacity: 1;
    margin-top: 0%;
  }
}
body main .about .a-txt .name {
  margin-top: 5vh;
}
body main .about .a-txt .name p {
  font-size: 3vh;
  color: #E92D66;
  font-weight: 500;
}
body main .about .a-txt .name p:nth-of-type(2) {
  font-size: 2vh;
  color: #000;
  font-weight: 400;
}
body main .about .a-txt .intro {
  margin: 7vh 0;
  line-height: 3vh;
}
body main .about .a-txt .intro p {
  color: #555;
  font-weight: 400;
}
body main .about .a-txt .study p {
  font-weight: 400;
}
body main .about .a-txt .study p b {
  color: rgb(168, 168, 168);
}
body main .about .visual {
  width: 50vh;
  height: 50vh;
  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 100%;
  margin-top: 5%;
  margin-right: 15%;
  position: relative;
}
body main .about .visual .icon-wrap .icon {
  transition: 0.5s;
  width: 10vh;
  height: 10vh;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 5px 5px 0px rgba(128, 128, 128, 0.281);
}
body main .about .visual .icon-wrap .icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
body main .about .visual .icon-wrap.active .txt {
  display: block;
}
body main .about .visual .icon-wrap.active .txt h4, body main .about .visual .icon-wrap.active .txt p {
  opacity: 1;
}
body main .about .visual .icon-wrap.active .icon {
  width: 12vh;
  height: 12vh;
  box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.281);
}
body main .about .visual .icon-wrap.active .icon img {
  width: 60px;
}
body main .about .visual .icon-wrap:nth-of-type(2) .icon {
  top: 7%;
  left: 86%;
}
body main .about .visual .icon-wrap:nth-of-type(3) .icon {
  top: 43%;
  left: 100%;
}
body main .about .visual .icon-wrap:nth-of-type(4) .icon {
  top: 78%;
  left: 82%;
}
body main .about .visual .icon-wrap:nth-of-type(5) .icon {
  top: 88%;
  left: 45%;
}
body main .about .visual .icon-wrap:nth-of-type(6) .icon {
  top: 70%;
  left: 11%;
}
body main .about .visual .icon-wrap:nth-of-type(7) .icon {
  top: 35%;
  left: 1%;
}
body main .about .visual .icon-wrap:nth-of-type(8) .icon {
  top: 4%;
  left: 15%;
}
body main .about .visual .icon-wrap .txt {
  width: 30vh;
  transition: 0.5s;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body main .about .visual .icon-wrap .txt h4 {
  font-size: 2.5vh;
  font-weight: 700;
  opacity: 0;
  transition: 1s;
}
body main .about .visual .icon-wrap .txt p {
  font-size: 1.7vh;
  font-weight: 300;
  margin-top: 3%;
  opacity: 0;
  transition: 1s;
}
body main .project {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
body main .project .p-txt {
  position: absolute;
  bottom: 12%;
  left: 10%;
}
body main .project .p-txt h2 {
  font-size: 10vh;
  font-weight: 900;
}
body main .project .p-txt h2 b {
  font-weight: 900;
  font-size: 10vh;
  color: #E92D66;
}
body main .project .p-txt p {
  font-size: 6vh;
}
body main .project .p-txt p b {
  font-size: 6vh;
  font-weight: 900;
}
body main .project .p-slide {
  position: absolute;
  bottom: 12%;
  left: 50%;
  overflow: hidden;
  width: 60%;
}
body main .project .p-slide ul {
  display: flex;
  width: 100%;
}
body main .project .p-slide ul li {
  width: 40vh;
  height: 64vh;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  flex-shrink: 0;
}
body main .project .p-slide ul li:last-of-type {
  cursor: auto;
}
body main .project .p-slide ul li img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
body main .project .p-slide ul li div {
  color: #fff;
  opacity: 0;
  transition: 1s;
}
body main .project .p-slide ul li div p {
  position: absolute;
  top: 2%;
  left: 3%;
}
body main .project .p-slide ul li div p:nth-of-type(2) {
  top: 88%;
}
body main .project .p-slide ul li div h4 {
  position: absolute;
  bottom: 2%;
  left: 3%;
  font-size: 3vh;
  font-weight: 500;
}
body main .project .p-slide ul li:hover div {
  opacity: 1;
}
body main .project .p-slide ul li:hover img {
  filter: brightness(0.7);
  transform: scale(1.1);
}
body main .contact {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-left: 10%;
}
body main .contact .c-txt {
  margin-top: 15%;
}
body main .contact .c-txt h2 {
  font-size: 6vh;
  font-weight: 900;
}
body main .contact .c-txt b {
  font-size: 6vh;
  font-weight: 900;
}
body main .contact .c-txt b:first-of-type {
  color: #E92D66;
}
body main .contact .c-txt .c-contact {
  margin-top: 30vh;
}
body main .contact .c-txt .c-contact p {
  font-weight: 400;
}
body main .contact span {
  display: block;
  width: 100vh;
  height: 100vh;
  background-color: #E92D66;
  border-radius: 100%;
  position: absolute;
  bottom: -35%;
  right: -10%;
}
body .popup-shadow {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 9;
}
body .popup {
  width: 85%;
  height: 80vh;
  border-radius: 30px;
  display: none;
  justify-content: space-between;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 99;
}
body .popup .popup-txt {
  width: 40%;
  padding: 0 5vh;
  background-color: #487029;
  color: #fff;
  border-radius: 30px 0 0 30px;
}
body .popup .popup-txt .title {
  margin-top: 10vh;
}
body .popup .popup-txt .title p {
  color: #000;
  width: 13vh;
  font-size: 1.5vh;
  font-weight: 500;
  text-align: center;
  padding: 0.3vh;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.102);
}
body .popup .popup-txt .title h2 {
  font-size: 4vh;
  font-weight: 500;
}
body .popup .popup-txt .about {
  margin: 5vh 0;
}
body .popup .popup-txt .comment {
  height: 40%;
  margin-bottom: 10%;
  overflow: auto;
}
body .popup .popup-txt .comment::-webkit-scrollbar {
  display: block;
  width: 5px;
  height: 100%;
}
body .popup .popup-txt .comment::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7176470588);
  border-radius: 12px;
}
body .popup .popup-txt .comment::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2549019608);
  border-radius: 12px;
}
body .popup .popup-txt .btn {
  margin-top: 6vh;
  text-align: center;
}
body .popup .popup-txt .btn a {
  color: #eee;
  border: 1px solid #fff;
  padding: 0.5vh 2vh;
  border-radius: 10px;
  transition: 0.5s;
  font-weight: 500;
  vertical-align: middle;
}
body .popup .popup-txt .btn a:hover {
  background-color: #fff;
  color: #000;
}
body .popup .popup-img {
  width: 70%;
  overflow: scroll;
  margin-top: 7vh;
  position: relative;
}
body .popup .popup-img .slide {
  width: 90%;
  margin: 0 auto;
}
body .popup .popup-img .slide img {
  width: 100%;
  margin-bottom: 5vh;
  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.102);
}
body .popup .close {
  width: 40px;
  height: 40px;
  background: url(../LOGO/close.png) center no-repeat;
  position: sticky;
  top: 12%;
  right: 9%;
  cursor: pointer;
}
body .popup .close:hover {
  opacity: 0.5;
}

@media (max-width: 767px) {
  body main .main {
    padding-left: 0%;
  }
  body main .main .m-txt {
    margin-top: 50%;
  }
  body main .main .m-txt h2 {
    font-size: 5vh;
    text-align: center;
  }
  body main .main .m-txt b {
    font-size: 5vh;
  }
  body main .main .m-txt .m-contact {
    position: absolute;
    left: 10%;
    bottom: 5%;
    z-index: 9;
  }
  body main .main .m-txt .m-contact p {
    font-weight: 400;
    font-size: 1.8vh;
  }
  body main .main span {
    margin-top: 60%;
    width: 30vh;
    height: 30vh;
  }
  body main .main span img {
    width: 40%;
    position: absolute;
    top: 60%;
    right: 15%;
    transform: translate(-50%, -50%);
  }
  body main .about {
    width: 100%;
    height: 200vh;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  body main .about .a-txt {
    width: 85%;
    margin: 15% auto;
    padding-top: 15%;
  }
  body main .about .a-txt h2 {
    display: none;
  }
  body main .about .a-txt .name {
    margin-top: 5vh;
  }
  body main .about .a-txt .name p {
    font-size: 3vh;
    color: #E92D66;
    font-weight: 500;
  }
  body main .about .a-txt .name p:nth-of-type(2) {
    font-size: 2vh;
    color: #000;
    font-weight: 400;
  }
  body main .about .a-txt .intro {
    display: none;
  }
  body main .about .a-txt .study p {
    font-size: 2vh;
  }
  body main .about .a-txt .study p b {
    font-size: 1.7vh;
  }
  body main .about .visual {
    width: 45vh;
    height: 45vh;
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
  }
  body main .about .visual .icon-wrap {
    margin-top: 40vh;
  }
  body main .about .visual .icon-wrap .icon {
    transition: 0.5s;
    width: 10vh;
    height: 10vh;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 5px 5px 0px rgba(128, 128, 128, 0.281);
  }
  body main .about .visual .icon-wrap .icon img {
    position: absolute;
    width: 5vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  body main .about .visual .icon-wrap.active .txt {
    display: block;
  }
  body main .about .visual .icon-wrap.active .txt h4, body main .about .visual .icon-wrap.active .txt p {
    opacity: 1;
  }
  body main .about .visual .icon-wrap.active .icon {
    width: 12vh;
    height: 12vh;
    box-shadow: 5px 5px 5px 5px rgba(128, 128, 128, 0.281);
  }
  body main .about .visual .icon-wrap.active .icon img {
    width: 7vh;
  }
  body main .about .visual .icon-wrap:nth-of-type(2) .icon {
    top: 7%;
    left: 86%;
  }
  body main .about .visual .icon-wrap:nth-of-type(3) .icon {
    top: 43%;
    left: 100%;
  }
  body main .about .visual .icon-wrap:nth-of-type(4) .icon {
    top: 78%;
    left: 82%;
  }
  body main .about .visual .icon-wrap:nth-of-type(5) .icon {
    top: 88%;
    left: 45%;
  }
  body main .about .visual .icon-wrap:nth-of-type(6) .icon {
    top: 70%;
    left: 11%;
  }
  body main .about .visual .icon-wrap:nth-of-type(7) .icon {
    top: 35%;
    left: 1%;
  }
  body main .about .visual .icon-wrap:nth-of-type(8) .icon {
    top: 4%;
    left: 15%;
  }
  body main .about .visual .icon-wrap .txt {
    width: 30vh;
    transition: 0.5s;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body main .about .visual .icon-wrap .txt h4 {
    font-size: 2.5vh;
    font-weight: 700;
    opacity: 0;
    transition: 1s;
  }
  body main .about .visual .icon-wrap .txt p {
    font-size: 1.7vh;
    font-weight: 300;
    margin-top: 3%;
    opacity: 0;
    transition: 1s;
  }
  body main .project {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  body main .project .p-txt {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 10%;
  }
  body main .project .p-txt h2 {
    font-size: 6vh;
    font-weight: 900;
  }
  body main .project .p-txt h2 b {
    font-weight: 900;
    font-size: 6vh;
  }
  body main .project .p-txt p {
    font-size: 3vh;
  }
  body main .project .p-txt p b {
    font-size: 3vh;
    font-weight: 700;
  }
  body main .project .p-slide {
    top: 30%;
    left: 10%;
    overflow: hidden;
    width: 100%;
    height: 35vh;
  }
  body main .project .p-slide ul {
    width: 100%;
    height: 100%;
  }
  body main .project .p-slide ul li {
    width: 20vh;
    height: 100%;
    position: relative;
    margin: 1%;
  }
  body main .project .p-slide ul li img {
    filter: brightness(0.7);
    transform: scale(1.1);
  }
  body main .project .p-slide ul li div {
    opacity: 1;
  }
  body main .project .p-slide ul li div p {
    top: 2%;
    left: 3%;
    font-size: 1.5vh;
  }
  body main .project .p-slide ul li div p:nth-of-type(2) {
    top: 85%;
  }
  body main .project .p-slide ul li div h4 {
    font-size: 1.5vh;
  }
  body main .contact {
    width: 100%;
    height: 100vh;
    margin: 5% auto;
    padding: 0;
  }
  body main .contact .c-txt {
    margin-top: 50%;
  }
  body main .contact .c-txt h2 {
    font-size: 5vh;
    text-align: center;
  }
  body main .contact .c-txt b {
    font-size: 5vh;
  }
  body main .contact .c-txt .c-contact {
    position: absolute;
    left: 62%;
    bottom: 11%;
    z-index: 9;
    color: #fff;
  }
  body main .contact .c-txt .c-contact p {
    font-size: 1.5vh;
  }
  body main .contact span {
    width: 20vh;
    height: 20vh;
    bottom: 5%;
    right: 5%;
  }
  body .popup {
    width: 85%;
    height: 80vh;
    border-radius: 30px;
    display: none;
    justify-content: space-between;
    background-color: #fff;
    position: absolute;
    top: 0;
    z-index: 99;
  }
  body .popup .popup-txt {
    padding: 0 1vh;
    width: 45%;
    background-color: #487029;
    color: #fff;
    border-radius: 30px 0 0 30px;
  }
  body .popup .popup-txt .title {
    margin-top: 6vh;
  }
  body .popup .popup-txt .title p {
    color: #000;
    width: 13vh;
    font-size: 1.5vh;
    font-weight: 500;
    text-align: center;
    padding: 0.3vh;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 1px 1px rgba(0, 0, 0, 0.102);
  }
  body .popup .popup-txt .title h2 {
    font-size: 4vh;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  body .popup .popup-txt .about {
    margin: 5vh 0;
  }
  body .popup .popup-txt .btn {
    font-size: 0;
  }
  body .popup .popup-txt .btn a {
    display: inline-block;
    width: 50%;
    height: 30px;
    line-height: 28px;
    font-size: 12px;
    padding: 0;
  }
  body .popup .popup-img {
    width: 55%;
    overflow: scroll;
    margin-top: 7vh;
    position: relative;
  }
  body .popup .popup-img .slide {
    width: 90%;
    margin: 0 auto;
  }
  body .popup .popup-img .slide img {
    width: 100%;
    margin-bottom: 5vh;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.102);
  }
  body .popup .close {
    width: 40px;
    height: 40px;
    background: url(../LOGO/close.png) center no-repeat;
    position: sticky;
    top: 12%;
    right: 9%;
    cursor: pointer;
  }
}
html, body {
  margin: 0;
}

ul, li, ol {
  list-style: none;
}

h1, h2, h3, h4, p, figure {
  margin: 0;
}

a, .icon {
  text-decoration: none;
  cursor: pointer;
}

img {
  border: none;
  vertical-align: top;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background-color: #E92D66;
  color: #fff;
}

::selection {
  background-color: #E92D66;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 300;
}/*# sourceMappingURL=common.css.map */